body{
    background-color:lightgrey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Utils */
.container{
    height: 600px;
    width: 700px;
    margin: 30px auto;
    background-color:white;
}

.secondary-title{
    margin-left:20px;
    margin-top:40px;
}

.angular-border{
    border-radius: 5px;
}


/* intestazione */
header{
    background-color: white;
    height: 80px;
    line-height: 80px;
    
}

#logo-boolean{
    height: 60px;
    vertical-align: middle;
    margin-left: 10px;
}

#title{
    display: inline;
    vertical-align: middle;
    font-size: 38px;
    font-weight: 800;
}

hr{
    color:#9a8e86;
}


/* stile dei tasti */
.add{
    width: 80px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    line-height:25px ;
    vertical-align: middle;
    font-size: 14px;
    padding: 1px;
    text-decoration:none;
}
.add-task{
    margin-left:25px;
    background-color:#1e90ff ;
    display: inline-block;
    color:#fff;
}

.add-section{
    margin-left:5px;
    background-color:#fff ;
    display: inline-block;
    color:#9a8e86;
    border:1px solid #9a8e86;   
}


