
body{
    background-color:#f6f8f9;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    
    
}

/* Utils */
.container{
    height: 600px;
    width: 700px;
    margin: 30px auto;
    background-color:white;
    border-bottom: 100px solid #f6f8f9 ;
}
.container-align{
    margin-left: 25px;
}

.angular-border{
    border-radius: 5px;
}

/* intestazione */
header{
    background-color: white;
    height: 65px;
    
    
}

#logo-boolean{
    vertical-align: middle;
    margin-left: 10px;
}

#title{
    display: inline;
    line-height: 65px;
    vertical-align: middle;
    font-size: 38px;
    font-weight: 800;
}

#line{
    background-color: #f6f8f9;
    border-top: 1px solid #f6f8f9;
}

/* intestazione secondaria */
.triangle{
    font-size: 10px;
}

.secondary-title{
    
    margin-top:40px;
}


/* style della lista */
li{
    font-size: 16px;
    display: block;
    height: 33px;
    
}
.li-text{
    vertical-align: middle;
}
li h4{
    display: inline-block;
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin: 0;
}
.list-style{
    list-style-type: none;
    padding: 0;
}

.new-border{
    margin-top: 25px;
}


/* stile dei tasti principali */

.add{
    width: 80px;
    height: 25px;
    text-align: center;
    line-height:25px ;
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration:none;
}
.add:first-child{
    margin-left:25px;
    background-color:#45abea;
    display: inline-block;
    color:#fff;
}

.add:last-child{
    margin-left:5px;
    background-color:#fff ;
    display: inline-block;
    color:#9a8e86;
    border:1px solid #9a8e86;   
}
.add:hover{
    background-color:lightgray;
}
.add:active{
    background-color:white;
}


/* stile dei  tag */
.tag{
    display: inline-block;
    width: 50px;
    height: 22px;
    text-align: center;
    line-height:22px ;
    font-size:10px;
    color: white;
    border-radius: 22px;
}
.tag:hover{
    background-color:lightgray;
}
.tag:active{
    background-color: lightgray;
}
.tag:focus{
    text-decoration: underline;
    background-color: yellow;
}

/* inserisco i vari background-color dei tasti */

.lightblue{
    background-color:#45abea;
}

.violet {
    background-color: #9c72e4;
    
}

.lightgreen{
    background-color:#64c0a9;
}

.orange{
    background-color:#f29e33;
}

.pink{
    background-color:#d863a1;
    
}

.green{
    background-color:#b0c926;
}
/* icone */
.bg-circle{
    display:inline-block;
    width: 14px;
    height: 14px;
    background-color: #f6f8f9;
    box-sizing: border-box;
    border:1px solid transparent;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    line-height: 14px;
    font-size:8px;
}

.done{
    color: green;
    border-color:green;
}

.undone{
    color:red;
    border-color:red ;
}

